In [1]:
import pyforest

In [4]:
data = pd.read_csv("datasets_33080_43333_car data.csv")
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
Car_Name         301 non-null object
Year             301 non-null int64
Selling_Price    301 non-null float64
Present_Price    301 non-null float64
Kms_Driven       301 non-null int64
Fuel_Type        301 non-null object
Seller_Type      301 non-null object
Transmission     301 non-null object
Owner            301 non-null int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.2+ KB

In [13]:
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [14]:
data.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [15]:
data['Car_Age'] = 2020 - data['Year']

In [16]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Age
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,7
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,3
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,9
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,6

In [36]:
print(data['Seller_Type'].unique())
print(data['Fuel_Type'].unique())
print(data['Transmission'].unique())
print(data['Owner'].unique())

['Dealer' 'Individual']
['Petrol' 'Diesel' 'CNG']
['Manual' 'Automatic']
[0 1 3]

In [19]:
data['Car_Age'].describe()

count    301.000000
mean       6.372093
std        2.891554
min        2.000000
25%        4.000000
50%        6.000000
75%        8.000000
max       17.000000
Name: Car_Age, dtype: float64

In [33]:
data.loc[data['Car_Age'] == data['Car_Age'].max()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Age
37,800,2003,0.35,2.28,127000,Petrol,Individual,Manual,0,17
39,sx4,2003,2.25,7.98,62000,Petrol,Dealer,Manual,0,17

In [34]:
data.loc[data['Car_Age'] == data['Car_Age'].min()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Age
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,2

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Age
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
30,ritz,2012,3.10,5.98,51439,Diesel,Dealer,Manual,0,8
31,ritz,2011,2.35,4.89,54200,Petrol,Dealer,Manual,0,9
46,ritz,2013,2.65,4.89,64532,Petrol,Dealer,Manual,0,7

In [44]:
car = data.groupby(['Car_Name','Year','Fuel_Type'])

In [47]:
car.first()

                                         Selling_Price  Present_Price  \
Car_Name                 Year Fuel_Type
800                      2003 Petrol              0.35          2.280
Activa 3g                2008 Petrol              0.17          0.520
                         2016 Petrol              0.45          0.540
Activa 4g                2017 Petrol              0.40          0.510
Bajaj  ct 100            2015 Petrol              0.18          0.320
Bajaj Avenger 150        2016 Petrol              0.75          0.800
Bajaj Avenger 150 street 2016 Petrol              0.60          0.800
Bajaj Avenger 220        2016 Petrol              0.72          0.950
                         2017 Petrol              0.90          0.950
Bajaj Avenger 220 dtsi   2010 Petrol              0.45          0.950
                         2015 Petrol              0.60          0.950
Bajaj Avenger Street 220 2011 Petrol              0.45          0.950
Bajaj Discover 100       2013 Petrol              0.27          0.470
Bajaj Discover 125       2011 Petrol              0.15          0.570
                         2012 Petrol              0.20          0.570
Bajaj Dominar 400        2017 Petrol              1.45          1.600
Bajaj Pulsar  NS 200     2014 Petrol              0.60          0.990
Bajaj Pulsar 135 LS      2014 Petrol              0.40          0.640
Bajaj Pulsar 150         2006 Petrol              0.10          0.750
                         2008 Petrol              0.25          0.750
                         2015 Petrol              0.65          0.740
Bajaj Pulsar 220 F       2010 Petrol              0.52          0.940
                         2016 Petrol              0.51          0.940
Bajaj Pulsar NS 200      2012 Petrol              0.50          0.990
                         2013 Petrol              0.50          0.990
Bajaj Pulsar RS200       2016 Petrol              1.05          1.260
Hero  CBZ Xtreme         2008 Petrol              0.20          0.787
Hero  Ignitor Disc       2013 Petrol              0.20          0.650
Hero Extreme             2013 Petrol              0.65          0.787
                         2014 Petrol              0.55          0.787
...                                                ...            ...
ritz                     2012 Diesel              3.10          5.980
                         2013 Petrol              2.65          4.890
                         2014 Petrol              3.35          5.590
s cross                  2015 Diesel              6.50          8.610
swift                    2011 Petrol              3.00          4.990
                         2013 Petrol              4.15          5.870
                         2014 Diesel              4.60          6.870
                         2017 Petrol              6.00          6.490
sx4                      2003 Petrol              2.25          7.980
                         2008 Petrol              1.95          7.150
                         2010 Petrol              2.65          7.980
                         2011 CNG                 2.95          7.740
                              Petrol              4.40          8.010
                         2013 Diesel              4.75          9.540
verna                    2012 Diesel              4.95          9.400
                              Petrol              4.50          9.400
                         2013 Diesel              6.15          9.400
                              Petrol              5.11          9.400
                         2014 Petrol              6.45          9.400
                         2015 Diesel              8.25          9.400
                              Petrol              5.95          9.400
                         2017 Petrol              9.25          9.400
vitara brezza            2018 Diesel              9.25          9.830
wagon r                  2006 Petrol              1.05          4.150
                         2011 Petrol              2.85          4.150
                         2013 Petrol              2.90          4.410
                         2015 CNG                 3.25          5.090
xcent                    2014 Petrol              4.40          7.130
                         2015 Petrol              4.75          7.130
                         2017 Petrol              5.75          7.130

                                         Kms_Driven Seller_Type Transmission  \
Car_Name                 Year Fuel_Type
800                      2003 Petrol         127000  Individual       Manual
Activa 3g                2008 Petrol         500000  Individual    Automatic
                         2016 Petrol            500  Individual    Automatic
Activa 4g                2017 Petrol           1300  Individual    Automatic
Bajaj  ct 100            2015 Petrol          35000  Individual       Manual
Bajaj Avenger 150        2016 Petrol           7000  Individual       Manual
Bajaj Avenger 150 street 2016 Petrol          20000  Individual       Manual
Bajaj Avenger 220        2016 Petrol            500  Individual       Manual
                         2017 Petrol           1300  Individual       Manual
Bajaj Avenger 220 dtsi   2010 Petrol          27000  Individual       Manual
                         2015 Petrol          16600  Individual       Manual
Bajaj Avenger Street 220 2011 Petrol          24000  Individual       Manual
Bajaj Discover 100       2013 Petrol          21000  Individual       Manual
Bajaj Discover 125       2011 Petrol          35000  Individual       Manual
                         2012 Petrol          25000  Individual       Manual
Bajaj Dominar 400        2017 Petrol           1200  Individual       Manual
Bajaj Pulsar  NS 200     2014 Petrol          25000  Individual       Manual
Bajaj Pulsar 135 LS      2014 Petrol          13700  Individual       Manual
Bajaj Pulsar 150         2006 Petrol          92233  Individual       Manual
                         2008 Petrol          26000  Individual       Manual
                         2015 Petrol           5000  Individual       Manual
Bajaj Pulsar 220 F       2010 Petrol          45000  Individual       Manual
                         2016 Petrol          24000  Individual       Manual
Bajaj Pulsar NS 200      2012 Petrol          13000  Individual       Manual
                         2013 Petrol          45000  Individual       Manual
Bajaj Pulsar RS200       2016 Petrol           5700  Individual       Manual
Hero  CBZ Xtreme         2008 Petrol          50000  Individual       Manual
Hero  Ignitor Disc       2013 Petrol          24000  Individual       Manual
Hero Extreme             2013 Petrol          16000  Individual       Manual
                         2014 Petrol          15000  Individual       Manual
...                                             ...         ...          ...
ritz                     2012 Diesel          51439      Dealer       Manual
                         2013 Petrol          64532      Dealer       Manual
                         2014 Petrol          27000      Dealer       Manual
s cross                  2015 Diesel          33429      Dealer       Manual
swift                    2011 Petrol          20000      Dealer       Manual
                         2013 Petrol          55138      Dealer       Manual
                         2014 Diesel          42450      Dealer       Manual
                         2017 Petrol          16200  Individual       Manual
sx4                      2003 Petrol          62000      Dealer       Manual
                         2008 Petrol          58000      Dealer       Manual
                         2010 Petrol          41442      Dealer       Manual
                         2011 CNG             49998      Dealer       Manual
                              Petrol          50000      Dealer    Automatic
                         2013 Diesel          43000      Dealer       Manual
verna                    2012 Diesel          60000      Dealer       Manual
                              Petrol          36100      Dealer       Manual
                         2013 Diesel          45000      Dealer       Manual
                              Petrol          36198      Dealer    Automatic
                         2014 Petrol          45078      Dealer       Manual
                         2015 Diesel          61381      Dealer       Manual
                              Petrol          36000      Dealer       Manual
                         2017 Petrol          15001      Dealer       Manual
vitara brezza            2018 Diesel           2071      Dealer       Manual
wagon r                  2006 Petrol          65000      Dealer       Manual
                         2011 Petrol           5200      Dealer       Manual
                         2013 Petrol          56879      Dealer       Manual
                         2015 CNG             35500      Dealer       Manual
xcent                    2014 Petrol          34000      Dealer       Manual
                         2015 Petrol          35866      Dealer       Manual
                         2017 Petrol          12479      Dealer       Manual

                                         Owner  Car_Age
Car_Name                 Year Fuel_Type
800                      2003 Petrol         0       17
Activa 3g                2008 Petrol         0       12
                         2016 Petrol         0        4
Activa 4g                2017 Petrol         0        3
Bajaj  ct 100            2015 Petrol         0        5
Bajaj Avenger 150        2016 Petrol         0        4
Bajaj Avenger 150 street 2016 Petrol         0        4
Bajaj Avenger 220        2016 Petrol         0        4
                         2017 Petrol         0        3
Bajaj Avenger 220 dtsi   2010 Petrol         0       10
                         2015 Petrol         0        5
Bajaj Avenger Street 220 2011 Petrol         0        9
Bajaj Discover 100       2013 Petrol         0        7
Bajaj Discover 125       2011 Petrol         1        9
                         2012 Petrol         1        8
Bajaj Dominar 400        2017 Petrol         0        3
Bajaj Pulsar  NS 200     2014 Petrol         0        6
Bajaj Pulsar 135 LS      2014 Petrol         0        6
Bajaj Pulsar 150         2006 Petrol         0       14
                         2008 Petrol         1       12
                         2015 Petrol         0        5
Bajaj Pulsar 220 F       2010 Petrol         0       10
                         2016 Petrol         0        4
Bajaj Pulsar NS 200      2012 Petrol         0        8
                         2013 Petrol         0        7
Bajaj Pulsar RS200       2016 Petrol         0        4
Hero  CBZ Xtreme         2008 Petrol         0       12
Hero  Ignitor Disc       2013 Petrol         1        7
Hero Extreme             2013 Petrol         0        7
                         2014 Petrol         0        6
...                                        ...      ...
ritz                     2012 Diesel         0        8
                         2013 Petrol         0        7
                         2014 Petrol         0        6
s cross                  2015 Diesel         0        5
swift                    2011 Petrol         0        9
                         2013 Petrol         0        7
                         2014 Diesel         0        6
                         2017 Petrol         0        3
sx4                      2003 Petrol         0       17
                         2008 Petrol         0       12
                         2010 Petrol         0       10
                         2011 CNG            0        9
                              Petrol         0        9
                         2013 Diesel         0        7
verna                    2012 Diesel         0        8
                              Petrol         0        8
                         2013 Diesel         0        7
                              Petrol         0        7
                         2014 Petrol         0        6
                         2015 Diesel         0        5
                              Petrol         0        5
                         2017 Petrol         0        3
vitara brezza            2018 Diesel         0        2
wagon r                  2006 Petrol         0       14
                         2011 Petrol         0        9
                         2013 Petrol         0        7
                         2015 CNG            0        5
xcent                    2014 Petrol         0        6
                         2015 Petrol         1        5
                         2017 Petrol         0        3

[223 rows x 7 columns]